In [ ]:
import dask.dataframe as dd
import pandas as pd

# file path file sản lượng năm
file_path_sanluong = r"C:\Khue\TDN\data\raw\sanluongipp-2021.xlsm"
xlsm = pd.ExcelFile(file_path)
sheet_names = xlsm.sheet_names

# Xử lý mỗi sheet và kết hợp
dfs = []
for sheet in sheet_names:
    # Đọc sheet thành pandas DataFrame
    df = pd.read_excel(file_path, sheet_name=sheet)
    # Chuyển đổi thành Dask DataFrame
    ddf = dd.from_pandas(df, npartitions=10)  # Chia thành 10 phần
    dfs.append(ddf)

# Ghép tất cả DataFrame
combined_df = dd.concat(dfs)

In [2]:
# Chuyển đổi kết quả từ dask DataFrame sang pandas DataFrame
result_df = combined_df.compute()
# reset index
result_df.reset_index(drop=True, inplace=True)
result_df

,CTDL,MADIEMDO,TENDIEMDO,SOCONGTO,STARTTIME,ENDTIME,CS,SL_PGIAOTONG
0,CTY ĐIỆN LỰC SƠN LA,G2A000S000M331,Chính-331,40377597,2021-01-01 00:00:00,2021-01-01 00:30:00,0.0,45795204.6
1,CTY ĐIỆN LỰC SƠN LA,G2A000S000M331,Chính-331,40377597,2021-01-01 00:30:00,2021-01-01 01:00:00,0.0,45795204.6
2,CTY ĐIỆN LỰC SƠN LA,G2A000S000M331,Chính-331,40377597,2021-01-01 01:00:00,2021-01-01 01:30:00,0.0,45795204.6
3,CTY ĐIỆN LỰC SƠN LA,G2A000S000M331,Chính-331,40377597,2021-01-01 01:30:00,2021-01-01 02:00:00,0.0,45795204.6
4,CTY ĐIỆN LỰC SƠN LA,G2A000S000M331,Chính-331,40377597,2021-01-01 02:00:00,2021-01-01 02:30:00,0.0,45795204.6
...,...,...,...,...,...,...,...,...
4344551,CTY ĐIỆN LỰC LAI CHÂU,G2A257S000M131,Nậm So 2(M-131),21000530,2021-12-31 21:30:00,2021-12-31 22:00:00,0.0,0.0
4344552,CTY ĐIỆN LỰC LAI CHÂU,G2A257S000M131,Nậm So 2(M-131),21000530,2021-12-31 22:00:00,2021-12-31 22:30:00,0.0,0.0
4344553,CTY ĐIỆN LỰC LAI CHÂU,G2A257S000M131,Nậm So 2(M-131),21000530,2021-12-31 22:30:00,2021-12-31 23:00:00,0.0,0.0
4344554,CTY ĐIỆN LỰC LAI CHÂU,G2A257S000M131,Nậm So 2(M-131),21000530,2021-12-31 23:00:00,2021-12-31 23:30:00,0.0,0.0
4344555,CTY ĐIỆN LỰC LAI CHÂU,G2A257S000M131,Nậm So 2(M-131),21000530,2021-12-31 23:30:00,2022-01-01 00:00:00,0.0,0.0

In [ ]:
# chỉ giữ lại các cột MADIEMDO, STARTTIME, CS của result_df
result_df = result_df[["MADIEMDO", "STARTTIME", "CS"]]
result_df

               MADIEMDO           STARTTIME   CS
0        G2A000S000M331 2021-01-01 00:00:00  0.0
1        G2A000S000M331 2021-01-01 00:30:00  0.0
2        G2A000S000M331 2021-01-01 01:00:00  0.0
3        G2A000S000M331 2021-01-01 01:30:00  0.0
4        G2A000S000M331 2021-01-01 02:00:00  0.0
...                 ...                 ...  ...
4344551  G2A257S000M131 2021-12-31 21:30:00  0.0
4344552  G2A257S000M131 2021-12-31 22:00:00  0.0
4344553  G2A257S000M131 2021-12-31 22:30:00  0.0
4344554  G2A257S000M131 2021-12-31 23:00:00  0.0
4344555  G2A257S000M131 2021-12-31 23:30:00  0.0

[4344556 rows x 3 columns]

In [ ]:
# Tôi muốn chia cột STARTTIME thành 2 cột là DATE và TIME
result_df["NGAY"] = result_df["STARTTIME"].dt.date
result_df["TIME"] = result_df["STARTTIME"].dt.time
result_df = result_df.drop(columns=["STARTTIME"])
result_df

C:\Users\nltt03\AppData\Local\Temp\ipykernel_15528\693442555.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df['DATE'] = result_df['STARTTIME'].dt.date
C:\Users\nltt03\AppData\Local\Temp\ipykernel_15528\693442555.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df['TIME'] = result_df['STARTTIME'].dt.time

               MADIEMDO   CS        DATE      TIME
0        G2A000S000M331  0.0  2021-01-01  00:00:00
1        G2A000S000M331  0.0  2021-01-01  00:30:00
2        G2A000S000M331  0.0  2021-01-01  01:00:00
3        G2A000S000M331  0.0  2021-01-01  01:30:00
4        G2A000S000M331  0.0  2021-01-01  02:00:00
...                 ...  ...         ...       ...
4344551  G2A257S000M131  0.0  2021-12-31  21:30:00
4344552  G2A257S000M131  0.0  2021-12-31  22:00:00
4344553  G2A257S000M131  0.0  2021-12-31  22:30:00
4344554  G2A257S000M131  0.0  2021-12-31  23:00:00
4344555  G2A257S000M131  0.0  2021-12-31  23:30:00

[4344556 rows x 4 columns]

In [ ]:
# Tạo một DataFrame mới từ new_data, với cột đầu tiên là các giá trị unique của cột 'MADIEMDO', cột thứ hai là 'DATE', các cột tiếp theo là giá trị của cột 'CS' tương ứng với 'TIME'
pivot_df = pd.pivot_table(
    result_df, values="CS", index=["MADIEMDO", "NGAY"], columns="TIME"
).reset_index()
pivot_df

TIME,MADIEMDO,DATE,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,...,19:00:00,19:30:00,20:00:00,20:30:00,21:00:00,21:30:00,22:00:00,22:30:00,23:00:00,23:30:00
0,G2A000S000M331,2021-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,G2A000S000M331,2021-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,G2A000S000M331,2021-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,G2A000S000M331,2021-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,G2A000S000M331,2021-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90618,G2A257S000M131,2021-12-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90619,G2A257S000M131,2021-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90620,G2A257S000M131,2021-12-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90621,G2A257S000M131,2021-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90622,G2A257S000M131,2021-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Các chị để đường dẫn file thông tin NMTD
file_path_2 = r"C:\Khue\TDN\data\raw\thong_tin_NMTD_convert.xlsx"
df_NMTD = pd.read_excel(file_path_2)
df_NMTD

                         DVDL             NMTD      TEN_NM        MADIEMDO
0        CTY ĐIỆN LỰC BẮC KẠN     NMTĐ TÀ LÀNG     TA_LANG  G2A121S000D371
1        CTY ĐIỆN LỰC BẮC KẠN     NMTĐ TÀ LÀNG     TA_LANG  G2A121S000M371
2        CTY ĐIỆN LỰC BẮC KẠN   NMTĐ THƯỢNG ÂN   THUONG_AN  G2A122S000D371
3        CTY ĐIỆN LỰC BẮC KẠN   NMTĐ THƯỢNG ÂN   THUONG_AN  G2A122S000M371
4        CTY ĐIỆN LỰC BẮC KẠN     NMTĐ NẬM CẮT     NAM_CAT  G2A123S000M371
..                        ...              ...         ...             ...
802  CTY ĐIỆN LỰC TUYÊN QUANG  NMTĐ Sông Lô 8A  SONG_LO_8A  G2A203S000D131
803  CTY ĐIỆN LỰC TUYÊN QUANG  NMTĐ Sông Lô 8B  SONG_LO_8B  G2A214S000D132
804  CTY ĐIỆN LỰC TUYÊN QUANG  NMTĐ Sông Lô 8B  SONG_LO_8B  G2A214S000M132
805  CTY ĐIỆN LỰC TUYÊN QUANG  NMTĐ Sông Lô 8B  SONG_LO_8B  G2A214S000D131
806  CTY ĐIỆN LỰC TUYÊN QUANG  NMTĐ Sông Lô 8B  SONG_LO_8B  G2A214S000M131

[807 rows x 4 columns]

In [19]:
# # Các chị để đường dẫn file DS_TTT_TDN
df_TDN = pd.read_excel(r"C:\Khue\TDN\data\raw\DS_TTT_TDN.xlsx")

In [21]:
# Thêm cột những giá trị của cột 'TD_THAMCHIEU' của df_TDN vào merged_df_1 từ df_TDN dựa trên cột 'TEN_NM' của merged_df_1 và cột 'TEN_NM' của df_TDN mà không làm thay đổi kích thước của df_NMTD
merged_df = pd.merge(
    df_NMTD, df_TDN[["TEN_NM", "TD_THAMCHIEU"]], on="TEN_NM", how="left"
)
merged_df

,DVDL,NMTD,TEN_NM,MADIEMDO,TD_THAMCHIEU
0,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ TÀ LÀNG,TA_LANG,G2A121S000D371,TUYEN_QUANG
1,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ TÀ LÀNG,TA_LANG,G2A121S000M371,TUYEN_QUANG
2,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ THƯỢNG ÂN,THUONG_AN,G2A122S000D371,TUYEN_QUANG
3,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ THƯỢNG ÂN,THUONG_AN,G2A122S000M371,TUYEN_QUANG
4,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ NẬM CẮT,NAM_CAT,G2A123S000M371,TUYEN_QUANG
...,...,...,...,...,...
804,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8A,SONG_LO_8A,G2A203S000D131,TUYEN_QUANG
805,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8B,SONG_LO_8B,G2A214S000D132,TUYEN_QUANG
806,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8B,SONG_LO_8B,G2A214S000M132,TUYEN_QUANG
807,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8B,SONG_LO_8B,G2A214S000D131,TUYEN_QUANG
808,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8B,SONG_LO_8B,G2A214S000M131,TUYEN_QUANG

In [22]:
# Merge merged_df và new_data dựa trên cột 'MADIEMDO' của merged_df và cột 'MADIEMDO' của new_data mà không làm thay đổi kích cỡ của merged_df
merged_df_1 = pd.merge(merged_df, new_data, on="MADIEMDO", how="left")
merged_df_1

,DVDL,NMTD,TEN_NM,MADIEMDO,TD_THAMCHIEU,DATE,00:00:00,00:30:00,01:00:00,01:30:00,...,19:00:00,19:30:00,20:00:00,20:30:00,21:00:00,21:30:00,22:00:00,22:30:00,23:00:00,23:30:00
0,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ TÀ LÀNG,TA_LANG,G2A121S000D371,TUYEN_QUANG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ TÀ LÀNG,TA_LANG,G2A121S000M371,TUYEN_QUANG,2021-01-01,0.0,0.0,0.0,0.0,...,1188.90,1042.2,938.58,755.44,70.00,0.0,0.0,0.0,0.0,0.0
2,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ TÀ LÀNG,TA_LANG,G2A121S000M371,TUYEN_QUANG,2021-01-02,0.0,0.0,0.0,0.0,...,1887.80,1901.2,1834.00,1632.40,563.92,0.0,0.0,0.0,0.0,0.0
3,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ TÀ LÀNG,TA_LANG,G2A121S000M371,TUYEN_QUANG,2021-01-03,0.0,0.0,0.0,0.0,...,973.28,333.2,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
4,CTY ĐIỆN LỰC BẮC KẠN,NMTĐ TÀ LÀNG,TA_LANG,G2A121S000M371,TUYEN_QUANG,2021-01-04,0.0,0.0,0.0,0.0,...,1906.20,1792.6,1188.30,0.06,0.00,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93707,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8B,SONG_LO_8B,G2A214S000M131,TUYEN_QUANG,2021-12-27,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
93708,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8B,SONG_LO_8B,G2A214S000M131,TUYEN_QUANG,2021-12-28,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
93709,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8B,SONG_LO_8B,G2A214S000M131,TUYEN_QUANG,2021-12-29,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0
93710,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8B,SONG_LO_8B,G2A214S000M131,TUYEN_QUANG,2021-12-30,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93711,CTY ĐIỆN LỰC TUYÊN QUANG,NMTĐ Sông Lô 8B,SONG_LO_8B,G2A214S000M131,TUYEN_QUANG,2021-12-31,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0

In [23]:
# Export merged_df_1 ra file excel
merged_df_1.to_excel(r"C:\Khue\TDN\data\processed\2021.xlsx", index=False)